#save-map {
  #error {
    backdrop-filter: blur(20px);
    margin-left: 1rem;
    text-align: center;
    width: 10rem;
    background-color: #ffffff;
    padding: 3px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-left-width: 5px;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border-left-color: tomato;
    background-color: rgba(217, 83, 79, 0.1);
  }
  position: absolute;
  bottom: 2rem;
  width: 100%;
  left: 42%;
  z-index: 40000;
  transition: all 0.5s ease;
  input {
    border-radius: 25px;
    height: 2.3rem;
    padding: 0 0.5rem;
    width: 12rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: $primary-color;
    // background-color: $primary-color;
    // cursor: pointer;
    // transition: 0.2s all ease-in;
    // &:hover {
    //   background-color: $third-color;
    //   transform: scale(1.1);
    // }
  }
}
