#save-map {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  left: 42%;
  z-index: 40000;
  transition: all 0.5s ease;
  &.active {
    left: 22%;
  }
  input {
    border-radius: 25px;
    height: 2.3rem;
    padding: 0 0.5rem;
    width: 12rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    &:focus {
      outline: none;
    }
  }

  button {
    background-color: $primary-color;
  }
}
