#save-map {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40000;
  transition: right 0.5s;
  input,
  button {
    border-radius: 25px;
    height: 2rem;
    padding: 0 0.5rem;
  }
  input {
    width: 12rem;
    margin-right: 1rem;
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: $primary-color;
    cursor: pointer;

    &:hover {
      background-color: $grey-color;
      height: 2.2rem;
      width: 5.5rem;
    }
  }
}
#save-map.active {
  right: 250px;
}
