@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Ubuntu:wght@300;400&display=swap");
@import "variables";
@import "navbar";
@import "popup";

//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font-family: "Roboto", "Ubuntu", sans-serif;
  line-height: 1.6;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $dark-color;
  &:hover {
    color: $secondary-color;
    border-bottom: 1px $secondary-color solid;
    opacity: 0.8;
  }
}

h1 {
  margin: 5px 0;
}

h2,
p {
  margin: 10px 0;
}

.btn {
  padding: 0.5rem;
  background-color: $primary-color;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

