@import "variables";
@import "navbar";
@import "popup";
@import "save-map";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Ubuntu:wght@300;400&display=swap");

//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font-family: "Roboto", "Ubuntu", sans-serif;
  line-height: 1.6;
  margin: auto;
  max-height: 100vh;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
  color: $dark-color;
  &:hover {
    color: $secondary-color;
    border-bottom: 1px $secondary-color solid;
    opacity: 0.8;
  }
}

h1 {
  margin: 5px 0;
}

h2,
p {
  margin: 10px 0;
}

.btn {
  padding: 0.5rem;
  background-color: $primary-color;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pin-popus {
  color: red;
  background-color: aqua;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  transition: 0.5s;

  #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    // background-color: $third-color;

    .nav {
      display: flex;
      align-items: center;
      #searchBox {
        height: 2rem;
        border-radius: 25px;
        padding: 0 0.5rem;
        width: 12rem;

        &:focus {
          outline: none;
        }
      }

      .heart {
        height: 40px;
        width: 60px;
        padding-right: 1rem;
        background: url("../icons/heart-2.png") no-repeat;
        background-size: 40px;

        &:hover {
          height: 45px;
          cursor: pointer;
          border-bottom: none;
          background: url("../icons/heart-full-2.png") no-repeat;
          background-size: 40px;
        }
        &.saved {
          background: url("../icons/heart-full-2.png") no-repeat;
          background-size: 40px;
        }
      }
      .toggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: url("../icons/menu.png");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        transition: background-size 0.3s;
        &:hover {
          background-size: 35px;
        }
      }
      .active {
        background: url("../icons/close.png");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
      }
    }
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .leaflet-control {
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
}

.showcase.active {
  right: 250px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $primary-color;

  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    position: relative;

    .title {
      padding: 0.5rem 0;
      .list {
        h3 {
          font-size: 1.1rem;
          padding-left: 0.5rem;
        }
      }
    }
    a {
      font-size: 1.8rem;
    }
    ul {
      &.closed {
        display: none;
      }
    }
  }
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
